
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600;700&display=swap');

*{
  margin: 0;
  padding: 0;
box-sizing: border-box;
font-family: 'Rubik', sans-serif;

}
/* #### Backgrounds

- Very dark violet (main background): hsl(268, 75%, 9%)
- Very dark violet (toggle background, keypad background, screen background): hsl(268, 71%, 12%)

#### Keys

- Dark violet (key background): hsl(281, 89%, 26%)
- Vivid magenta (key shadow): hsl(285, 91%, 52%)

- Pure cyan (key background, toggle): hsl(176, 100%, 44%)
- Soft cyan (key shadow): hsl(177, 92%, 70%)

- Very dark violet (key background): hsl(268, 47%, 21%)
- Dark magenta (key shadow): hsl(290, 70%, 36%)

#### Text

- Light yellow: hsl(52, 100%, 62%)
- Very dark blue: hsl(198, 20%, 13%)
- White (text): hsl(0, 0%, 100%) */
.dark-mode {
 
  color: hsl(52, 100%, 62%);
  > #container{
    background-color:  hsl(268, 75%, 9%);
    
   >.App{
     
    > header {
     background-color: hsl(268, 71%, 12%);
     }
     .Numberdisplaydiv{
      background-color: hsl(268, 71%, 12%);
    }
    
    >.buttonsPannel button{
      background-color: hsl(268, 71%, 12%);
      border-bottom-color:hsl(285, 91%, 52%) ;
      color: hsl(52, 100%, 62%);
     
     
    }
    >.buttonsPannel button:active{
      
      background-color:hsl(285, 91%, 52%) ;
      border-bottom-color:hsl(268, 71%, 12%);
     
     
    }
   

    
    }
  }
}

.light-mode {
  color: hsl(221, 14%, 31%);
  > #container{
    background-color:   hsl(223, 31%, 20%);
    
   >.App{
     
    > header {
     background-color: hsl(223, 31%, 20%);
     }
     .Numberdisplaydiv{
      background-color: hsl(224, 36%, 15%)
    }
    
    >.buttonsPannel button{
      background-color:  hsl(225, 21%, 49%);
      border-bottom-color:hsl(224, 28%, 35%);
      color: hsl(221, 14%, 31%)
     
     
    }
   

    
    }
  }
}

.grey-mode {
 
  
  > #container{
    background-color:  hsl(221, 14%, 31%);
    
   >.App{
     
    > header {
     background-color: hsl(221, 14%, 31%);
     }
     .Numberdisplaydiv{
      background-color: hsla(0, 85%, 3%, 0.178);
    }
    
    >.buttonsPannel button{
      background-color:  hsla(0, 0%, 53%, 0.048);
      border-bottom-color: hsl(0, 1%, 25%)
     
     
    }
   

    
    }
  }
}

#container {
  height: 100vh ;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
 display: flex;
 flex-direction: column;
 height: 70%;
 width: 28%;
 padding: 1rem;
}
header {
  display: flex;
  justify-content: space-between;
  flex: 0.3;
  
}
.theme {
  display: flex;
  font-size: .5rem;
  justify-content: space-between;
  
}
.themeP {
 display: flex;
 align-items: center;
 
 padding-right: .6rem;
}
.themeOption{
  display: flex;
  flex-direction: column;
  gap: 10%;
}
.themeOption div {
  display: flex;
  justify-content: space-around;
}
.themeOptionBtn {
  border-radius: 10px;
  background-color: gray
}
.themeOptionBtn button {
  border-style: none;
  width: 10px;
  height: 10px;
  background-color: transparent;
  
  border-radius: 50%;  
}
.themeOptionBtn button:hover {
  border: 1px solid orange
}
.themeOptionBtn button:active{
  background-color: orange;
}
.ativado{
  background-color: black;
}
.Numberdisplaydiv{
  background-color: aqua;
  border-radius: 10px;
text-align: end;
display: flex;
flex-direction: column;
justify-content: center;
margin: 5% 0 5% 0;
padding-right: 5%;
flex: 0.8;
width: 100%
}
.buttonsPannel{
  flex: 2;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.buttonsPannel button {
  margin: 5%;
  border-radius: 5px;
  border-style: none;
  border-bottom: 3px solid black;
    
} 
.buttonsPannel button:hover {
  background-color: rgba(221, 217, 217, 0.822);
}
.buttonsPannel button:active {
  transform: scale(0.95); /* Scale down the button slightly when clicked */
}

.numbersOperators{
  flex: 4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 0.5rem;
  row-gap: 0.2rem;
}

.resetEqual {
  display: flex;
  justify-content: space-between;
  gap: .6rem;
  flex: 1;
  
}
.resetEqual button {
  width: 100%;
  margin: 0%;
}
.calc {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

}