body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dark-mode {
  background-color: rgba(97, 7, 243, 0.993);
  color: white;
  > #container{
    background-color: purple;
    
   >.App{
     background-color: brown;
    > header {
     background-color: blue;
     }
    }
  }
}

.light-mode {
  background-color: white;
  color: white;
    > #container{
      background-color: purple;
     >.App{
       background-color: brown;
      > header {
       background-color: blue;
      }
    }
  }
}

.grey-mode {
  background-color: grey;
  color: white;
    > #container{
      background-color: purple;
     >.App{
       background-color: brown;
      > header {
       background-color: blue;
      }
    }
  }
}


